@using GLMS.Website.Models
@model SetPasswordModel

@Html.HiddenFor(x => x.UserID)
@if (Model is ChangePasswordModel)
{
    ChangePasswordModel cpModel = (ChangePasswordModel)Model;
    <div class="editor-label">
        @Html.Label("OldPassword")
    </div>
    <div class="editor-field">
        @Html.Editor("OldPassword")
        @Html.ValidationMessage("OldPassword")
    </div>
}
<div class="editor-label">
    @Html.LabelFor(model => model.Password, Required.Always)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
</div>
                
<div class="editor-label">
    @Html.LabelFor(model => model.ConfirmPassword, Required.Always)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ConfirmPassword)
    @Html.ValidationMessageFor(model => model.ConfirmPassword)
</div>
@Html.Partial("_PasswordStrength", Html.IdFor(m => m.Password), ViewData)
